DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=orders_db

ALLOWED_ORIGINS=["http://localhost:3000"]
RATE_LIMIT_DEFAULT=4/minute  #количество запросов для установки ограничения

REDIS_URL=redis://redis:6379/0
BROKER_URL=amqp://guest:guest@rabbitmq:5672//

JWT_PRIVATE_KEY_PATH=./cert/jwt-private.pem #путь к приватному ключу для JWT
JWT_PUBLIC_KEY_PATH=./cert/jwt-public.pem #путь к публичному ключу для JWT